header {
	margin-left: 10.4vw;
	margin-right: 10.4vw;
	display: flex;
	flex-direction: column;
	
}
#header-content {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	background-color: #FFFEF8;
}
#header-content i{
	font-size: 22px;
}

.checked span {
	font-weight: bold;
}
#banniere-edit {
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	color: #FFFFFF;
}
#banniere-edit p {
	font-family: 'Work Sans';
	font-size: 16px;
	margin:0;
	padding: 20px 10px;
}
#banniere-edit i {
	font-size: 16px;
	margin: 0;
	padding: 20px 0;
}
nav ul {
	display: flex;
	column-gap: 2.5vw;
	align-items: center;
	list-style-type: none;
}
.hidden {
	display: none;
}
nav li {
	font-size: 1.2em;
}

nav a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	color: #B1663C;
}