    <section id="login-container">
        <h2>Log In</h2>
        <div id="erreur-connexion" class="erreur-message"></div>
        <form id="form-connexion">
            <label for="email">E-mail</label>
            <input type="email" id="email" required>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" required>
            <input type="submit" id="submit" value="Se connecter">
        </form>
        <a href="#">Mot de passe oublié</a>
    </section>

