<header>
	<div id="header-content">
		<h1>Sophie Bluel <span>Architecte d'intérieur</span></h1>
		<nav>
			<ul>
				<li><a id="ancre-projets" href="index.html#portfolio">projets</a></li>
				<li><a id="ancre-contacts" href="index.html#contact">contact</a></li>
				<li id="login-link" class="hidden"><a>login</a></li>
				<li id="logout-link" ><a>logout</a></li>
				<li><a href="#"><i class="fa-brands fa-instagram"></i><!--<img src="assets\icons\instagram.png" alt="Instagram">--></a></li>
			</ul>
		</nav>
	</div>
</header>
